<button type="button" class="btn btn-outline-success btn-block" disabled>Advanced Search Filters</button>
<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <p class="mb-1">Distance Range</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div>
  </div>
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <p class="mb-1">Price Range</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div>
  </div>
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <p class="mb-1"></p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div>
  </div>
</div>
