<form>

  <div class="form-row">
    <div class="form-group col">
      <label for="productName">Product Name</label>
      <input type="text" class="form-control" id="productName" placeholder="Product Name">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="productPrice">Price</label>
      <input type="text" class="form-control" id="productPrice" placeholder="Price">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="productDescription">Description</label>
      <input type="text" class="form-control" id="productDescription" placeholder="Description">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="productQuantity">Quantity</label>
      <input type="text" class="form-control" id="productQuantity" placeholder="Quantity">
    </div>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="daysInAWeek" id="daysInAWeek1" value="1" checked> All days in a week
    </label>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="daysInAWeek" id="daysInAWeek2" value="2"> Only selected days in a week
    </label>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="productFromDate">From Date</label>
      <input type="text" class="form-control" id="productFromDate" placeholder="From Date">
    </div>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="true" checked> Valid until I cancel.
    </label>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="productToDate">To Date</label>
      <input type="text" class="form-control" id="productToDate" placeholder="To Date">
    </div>
  </div>

  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Use my profile address
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>

  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>

  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>

    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    
  </div>

  <button type="submit" class="btn btn-primary">Next</button>

</form>
