<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col col-auto">
        <app-time-picker class="col" [time]="formGroup.get('from')"></app-time-picker>
      </div>
      <div class="col col-auto">
        to
      </div>
      <div class="col col-auto">
        <app-time-picker class="col" [time]="formGroup.get('to')"></app-time-picker>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
